<div class="navbar-default customize-default-navbar sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a href="javascript:void(0)"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-table fa-fw"></i> Tables</a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-edit fa-fw"></i> Forms</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="javascript:void(0)">Panels and Wells</a>
          </li>
          <li>
            <a href="javascript:void(0)">Buttons</a>
          </li>
        </ul>              
      </li>
      <li>
        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="javascript:void(0)">Second Level Item</a>
          </li>
          <li>
            <a href="javascript:void(0)">Second Level Item</a>
          </li>
        </ul>
      </li>
    </ul>
 </div>
</div>